<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SuperEventConnectionString" 
         connectionString="Data Source=sql11.freesqldatabase.com;Initial Catalog=SuperEvent;Integrated Security=true" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>